.App {
  text-align: center;
  color: white;
  font-size: 13px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;

}
body{
  background-image: url(/public/gib.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-image: center;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.App ul{
  text-align: left;
  font-weight:bold;
}

/*.App p{
  font-weight: lighter;
  font-size: 15px;
  background-color: rgba(87, 85, 85, 0.918);
  border-radius: 6px;
  padding:2px;
  text-align: center;
  margin-right: 50%;
  width: 400px;

}*/
.App button{
  background-color: rgba(235, 44, 44, 0.733);
  border-radius: 6px;
  color: white;
  font-size: 12px;
  border-color: azure;
}

.App form{
  width: 50%;
  background-color: rgba(168, 14, 14, 0.658);
  padding: 14px;
  margin: auto;
  margin-top: 25px;
  border-radius: 4px;
  color: white;
  box-shadow: 7px 13px 37px  #000;
}
.App input{
  width: 90%;
  background: rgb(104, 9, 9);
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 16px;
  border: 1px solid red;
  font-size: 18px;
  color: white;
}
.App input.button{
  width: 150px;
  background: rgb(205, 15, 15);
  border: 1px solid rgb(170, 170, 170);
  color: white;
  margin: 20px 0;
  font-size: 20px;
  border-radius:6px;
}